<div ng-show="$ctrl.initializer.isRange">
    <input type="text" class="fecha fechaDesde" name="{{$ctrl.initializer.config.name + 'Desde'}}" />
    <input type="text" class="fecha fechaHasta" name="{{$ctrl.initializer.config.name + 'Hasta'}}" />
</div>

<!--
<form>
    <custom-datepicker initializer="{isRange:true, config: {name: 'pruebaDP', minDate:'0', maxDate:'1y'} }"></custom-datepicker>
</form>
-->
