<div ng-show="!$ctrl.initializer.isRange">
    <input type="text" class="form-control fecha" name="{{$ctrl.initializer.config.name}}" placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.model" ng-required="{{$ctrl.isRequired}}" ng-class="$ctrl.classes" ng-keypress="$ctrl.setMask();" ng-blur="$ctrl.checkDate()" ng-value="{{$ctrl.model}}" maxlength="10" />
</div>

<!--
	Cómo invocar al componente:
    <custom-datepicker 
        initializer="{isRange:false, config: {name: '<nombre>', lang: '<idioma>', format: <formato>} }"
        model="<model>"
        is-required="false"
        classes=""
    ></custom-datepicker>
-->